<%= javascript_include_tag "statusfetch" %>
<%= javascript_include_tag "eastereggs" %>
<%= javascript_include_tag "mario_jumped" %>
<div class="container">
  <div>
    <div>
      <h1 class="text-6xl font-bold pb-4 self-center">fayevr<span class="text-purple">.dev( )</span></h1>
      <p class="text-purple pb-2 subheading">Dominic S.</p>
      <p class="text-grey subheading">I am <%= @age %> years old,<br>a web, game dev and a server engineer</p>
    </div>
  </div>
  <div class="justify-center">
    <div class="flex pt-20 space-x-32 justify-center">
      <%= image_tag("mario_question.png", size: "100") %>
      <%= image_tag("mario_question.png", size: "100") %>
      <%= image_tag("mario_question.png", size: "100") %>
      <%= image_tag("mario_question.png", id: "mario-jumped-1", size: "100") %>
      <%= image_tag("mario_question.png", size: "100") %>
      <%= image_tag("mario_question.png", size: "100") %>
    </div>
    <div class="flex justify-center pl-40">
      <%= image_tag("mario.png", id: "mario-jumped-2", size: "100") %>
    </div>
  </div><br><br>

  <div class="flex flex-col space-y-5 w-full max-w-sm mx-auto px-4 py-4 bg-white/50 dark:bg-gray-900/50 dark:border-gray-600 backdrop-filter backdrop-blur-sm border-2 border-gray-200 rounded-lg hover:shadow-lg default-transition">
    <div class="inline-flex items-center">
      <div class="max-w-md max-h-12 my-auto rounded pointer-events-none select-none ring-2 ring-gray-200 dark:ring-gray-500">
        <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;">
          <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2748%27%20height=%2748%27/%3e" style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span>
          <img alt="Discord Avatar" src="https://cdn.discordapp.com/avatars/196742608846979072/386e5dd423316737d033bfa6a6d8f915.webp" decoding="async" data-nimg="intrinsic" class="w-full max-h-12 rounded" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" srcset="https://cdn.discordapp.com/avatars/196742608846979072/386e5dd423316737d033bfa6a6d8f915.webp?size=48 1x, https://cdn.discordapp.com/avatars/196742608846979072/386e5dd423316737d033bfa6a6d8f915.webp?size=96 2x">
        </span>
      </div>
      <div class="flex-1 ml-4">
        <h1 class="text-base font-extrabold line-clamp-1 tracking-wide overflow-ellipsis text-gray-900 dark:text-white">Faye</h1>
        <p class="mt-1 text-xs tracking-wide font-medium text-gray-500 dark:text-gray-400">#0001</p>
      </div>
      <span class="relative inline-flex justify-center items-center w-5 h-5 mr-3">
        <span class="absolute flex h-3 w-3">
          <span class="absolute inline-flex w-full h-full opacity-75 rounded-full motion-safe:animate-ping" style="background-color: white;"></span>
          <span class="relative inline-flex w-3 h-3 rounded-full status-circle" style="background-color: rgb(239, 68, 68);"></span>
        </span>
      </span>
    </div>
    <hr id="hide-block-activity" class="h-0.5 bg-gray-100 dark:bg-gray-600 border-none rounded-full">
    <div id="hide-block-activity" class="inline-flex items-center">
      <div class="max-w-md max-h-12 my-auto rounded pointer-events-none select-none ring-2 ring-gray-200 dark:ring-gray-500">
        <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;">
          <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2748%27%20height=%2748%27/%3e" style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span>
          <img id="activity-large-image" alt="" src="https://socialistmodernism.com/wp-content/uploads/2017/07/placeholder-image.png" decoding="async" data-nimg="intrinsic" class="w-full max-h-12 rounded" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"></span>
      </div>
      <div class="flex-1 ml-4">
        <h1 class="activity-game text-base font-extrabold line-clamp-1 tracking-wide overflow-ellipsis text-gray-900 dark:text-white">Activity Name</h1>
        <p class="activity-details mt-1 text-xs tracking-wide font-medium text-gray-500 dark:text-gray-400">Editing </p>
        <p class="activity-workspace mt-1 text-xs tracking-wide font-medium text-gray-500 dark:text-gray-400">Workspace: </p>
      </div>
    </div>
    <hr id="hide-block-spotify" class="h-0.5 bg-gray-100 dark:bg-gray-600 border-none rounded-full" style="">
    <div id="hide-block-spotify" class="inline-flex items-center" style="">
        <div class="max-w-md max-h-12 my-auto rounded pointer-events-none select-none ring-2 ring-gray-200 dark:ring-gray-500">
          <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;">
            <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2748%27%20height=%2748%27/%3e" style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span>
            <img id="song-art" alt="Song Name" src="https://socialistmodernism.com/wp-content/uploads/2017/07/placeholder-image.png" decoding="async" data-nimg="intrinsic" class="w-full max-h-12 rounded" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
          </span>
        </div>
      <div class="flex-1 ml-4"><h1 class="text-base font-extrabold line-clamp-1 tracking-wide overflow-ellipsis text-gray-900 dark:text-white" id="song-name">No song playing..</h1>
        <span class="mt-1 text-xs tracking-wide font-medium text-gray-500 dark:text-gray-400" id="song-artist"></span>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="w-6 h-6 mx-3 text-gray-200 dark:text-gray-400 motion-safe:animate-pulse iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M9 18V5l12-2v13"></path><circle cx="6" cy="18" r="3"></circle><circle cx="18" cy="16" r="3"></circle></g></svg>
    </div>
  </div>
</div>