<!DOCTYPE html>
<html>
  <head>
    <title>faye - developer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= favicon_link_tag asset_path('favicon.svg') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "tailwindcss" %>
    <%= javascript_include_tag "mario_jumped" %>
    <%= javascript_include_tag "main" %>
    <%= javascript_include_tag "eastereggs" %>
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
  </head>

  <body>
  <%= render "layouts/navbar" %>
    <main class="container mx-auto mt-20 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
